# Supabase Client (Frontend)
VITE_SUPABASE_URL=https://jdnvhapsbujowucwkiyj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkbnZoYXBzYnVqb3d1Y3draXlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NzMxODQsImV4cCI6MjA5MjU0OTE4NH0.6K7bBelc2Y_Z9sfuyTKpvLYQOR7SYNd3wStsupbkiI8
