# Server Environment
NODE_ENV=production
PORT=3000

# Supabase Server (Backend)
SUPABASE_URL=https://jdnvhapsbujowucwkiyj.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkbnZoYXBzYnVqb3d1Y3draXlqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njk3MzE4NCwiZXhwIjoyMDkyNTQ5MTg0fQ.G4gJX0L3kTD--q0kdl97mCX9C6oZKPefWp5YFk3K91U

# Client Environment (Frontend)
VITE_SUPABASE_URL=https://jdnvhapsbujowucwkiyj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkbnZoYXBzYnVqb3d1Y3draXlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NzMxODQsImV4cCI6MjA5MjU0OTE4NH0.6K7bBelc2Y_Z9sfuyTKpvLYQOR7SYNd3wStsupbkiI8